extends ../layout.pug

block content
   extends ../layout.pug

block content
    h1.text-center CREATE NEW ACCOUNT
    .col-md-6.offset-md-3
        form(action="/user/registerPost" method='POST')
            .form-group.mb-3
                label(for='name') Name
                input#name.form-control(name='nameInput', type='text' required oninput="validateForm()")
                p#errName(style='color: red;')
            .form-group.mb-3
                label(for='phone') Phone Number
                input.form-control(name='phoneNumber', type='tel' required)
            .form-group.mb-3
                label(for='email') Email
                input#email.form-control(name='emailInput', type='mail' required oninput="validateForm()")
                p#errEmail(style='color: red;')
            .form-group.mb-3
                label(for='password') Password
                input#password.form-control(name='passwordInput', type='password' required oninput="validateForm()")
                p#errPassword(style='color: red;')
            .form-group.mb-3
                label(for='confirmPassword') Confirm Password
                input#confirmPassword.form-control(name='confirmPasswordInput', type='password' required oninput="validateForm()")
                p#errConfirmPassword(style='color: red;')
            .col-md-12.d-flex.justify-content-between
                a.btn.btn-secondary(href="/user/login") BACK TO LOGIN
                input#submitButton.btn.btn-success(type='submit', value='CREATE' disabled)
    script(src='/javascripts/validate.js')
        
        