extends ../layout.pug

block content
   extends ../layout.pug

block content
    h1.text-center CREATE NEW ACCOUNT
    .col-md-6.offset-md-3
        form(action="/user/registerPost" method='POST')
            .form-group.mb-3
                label(for='name') Name
                input#name.form-control(name='nameInput', type='text' required oninput="validateForm()")
                p#errName(style='color: red;')
            .form-group.mb-3
                label(for='phone') Phone Number
                input.form-control(name='phoneNumber', type='tel' required)
            .form-group.mb-3
                label(for='email') Email
                input#email.form-control(name='emailInput', type='mail' required oninput="validateForm()")
                p#errEmail(style='color: red;')
            .form-group.mb-3
                label(for='password') Password
                input#password.form-control(name='passwordInput', type='password' required oninput="validateForm()")
                p#errPassword(style='color: red;')
            .form-group.mb-3
                label(for='confirmPassword') Confirm Password
                input#confirmPassword.form-control(name='confirmPasswordInput', type='password' required oninput="validateForm()")
                p#errConfirmPassword(style='color: red;')
            .col-md-12.d-flex.justify-content-between
                a.btn.btn-secondary(href="/product") BACK
                input#submitButton.btn.btn-success(type='submit', value='CREATE' disabled)
    script.
        // Validate Name
        function validateName() {
            let name = document.getElementById("name").value;
            let pattern = /^[a-zA-Z\s]+$/;
            let resultElement = document.getElementById("errName");

            if (name.length >= 2 && pattern.test(name)) {
               resultElement.innerHTML = "";
               return true;
            } else {
               resultElement.innerHTML = "Name needs to be at least 2 characters and cannot contain numbers or special characters!";
               return false;
            }
        }

        // Validate Email
        function validateEmail() {
            let email = document.getElementById('email').value;
            let pattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,})+$/;
            let resultElement = document.getElementById("errEmail");
            if (pattern.test(email)) {
               resultElement.innerHTML = "";
               return true;
            } else {
               resultElement.innerHTML = "Invalid Email!";
               return false;
            }
        }

        // Validate Password
        function validatePassword() {
            let password = document.getElementById("password").value;
            let uppercaseRegex = /[A-Z]/;
            let resultElement = document.getElementById("errPassword");

            if (password.length >= 8 && uppercaseRegex.test(password)) {
               resultElement.innerHTML = "";
               return true;
            } else {
               resultElement.innerHTML = "Password must at least 8 characters and at least 1 capital letter!";
               return false;
            }
        }

        // Validate Confirm Password
        function validateConfirmPassword() {
            let password = document.getElementById("password").value;
            let confirmPassword = document.getElementById("confirmPassword").value;
            let passwordMatchElement = document.getElementById("errConfirmPassword");
            if (password === confirmPassword) {
                passwordMatchElement.innerHTML = "";
                return true;
            } else {
                passwordMatchElement.innerHTML = "Password Incorrect!";
                return false;
            }
        }

        // Kiểm tra trạng thái của các trường thông tin và vô hiệu hóa nút Create nếu có trường hợp không hợp lệ
        function validateForm() {
            if (validateName() && validateEmail() && validatePassword() && validateConfirmPassword()) {
                document.getElementById("submitButton").disabled = false;
                return true;
            } else {
                document.getElementById("submitButton").disabled = true;
                return false;
            }
        }
        