extends ../layout.pug

block content
    h1.text-center CREATE NEW PRODUCT
    .col-md-6.offset-md-3
        form(action="/product/createPost" method='post' enctype='multipart/form-data')
            .form-group.mb-3
                label(for='productID') Product ID
                input#productID.form-control(name='productID')
            .form-group.mb-3
                label(for='productName') Product Name
                input#productName.form-control(name='productName')
            .form-group.mb-3
                label(for='productPrice') Product Price
                input#productPrice.form-control(name='productPrice', type='number')
            //- .form-group.mb-3
            //-     label(for='email') Email
            //-     input#email.form-control(name='email', type='mail')
            //- .form-group.mb-3
            //-     label(for='password') Password
            //-     input#password.form-control(name='password', type='password')
            //- .form-group.mb-3
            //-     label(for='confirmPassword') Reconfirm Password
            //-     input#confirmPassword.form-control(name='confirmPassword', type='password')
            .form-group.mb-3
                label(for='image') Image
                input#image.form-control(name='image', type='file')
            .col-md-12.d-flex.justify-content-between
                a.btn.btn-secondary(href="/") BACK
                input.btn.btn-success(type='submit', value='CREATE')
